 .navbar {
    overflow: hidden;
    position: fixed;
    background: white;
    top: 0; 
    width: 100%;
}

  .navbar a{
    float: left;
    display: block;
    color: #333;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background: black;
    color: white;
  }

  .opening {
    margin-top: 60px;
  }
  h1 {
    text-align: center;
  }
  
table {
    margin-left: auto;
    margin-right: auto;
}

  
.container {
    position: relative;
    text-align: center;
    color: rgb(251, 251, 251);
    font-weight: 500;
    font-size: 40px;
}

.project_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divider {
    background-color: skyblue;
    width: 100%;
    color: navy;
    text-align: center;

}

.container2{
    position: relative;
    display: block;
}
.row {
    display: flex;
}
.project_1{
    margin-left: 50%;
    padding: 5px;
    background-color: rgb(75, 23, 135);
    color: white;
    width: 50%;
    top: 0;
}

.project_2{
    margin-right: 50%;
    padding: 5px;
    background-color: rgb(230, 230, 199);
    color: rgb(75, 23, 135);
    width: 50%;
    top: 0;
}

.project_3{
    margin-left: 50%;
    padding: 5px;
    background-color: rgb(75, 23, 135);
    color: white;
    width: 50%;
    top: 0;
}

.project_4{
    margin-right: 50%;
    padding: 5px;
    background-color: rgb(230, 230, 199);
    color: rgb(75, 23, 135);
    width: 50%;
    top: 0;
}

.empty {
    background-color: white;
}

footer {
    text-align: center;
}