* {
    font-family: 'Courier New', monospace;
}

body {
    background-color: rgb(230, 230, 199);
}
h1 {
    text-align: center;
}

.heading {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0; 
    width: 100%; 
}

  .heading a, .heading img{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .heading a:hover {
    background: #ddd;
    color: black;
  }
  

table {
    margin-left: auto;
    margin-right: auto;
}

  
.container {
    position: relative;
    text-align: center;
    color: rgb(251, 251, 251);
    font-weight: 500;
    font-size: 40px;
}

.project_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.project_1{
    background-color: rgb(75, 23, 135);
    color: white;
    width: 100%;
    top: 0;
}

.project_2{
    background-color: rgb(230, 230, 199);
    color: rgb(75, 23, 135);
    width: 100%;
    top: 0;
}

.project_3{
    background-color: rgb(75, 23, 135);
    color: white;
    width: 100%;
    top: 0;
}

.project_4{
    background-color: rgb(230, 230, 199);
    color: rgb(75, 23, 135);
    width: 100%;
    top: 0;
}

footer {
    text-align: center;
}