/*global*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    background-color: black;
    color: white;
    max-height: 500vh;

}


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 6vh 3vw;

}

.grid-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}


/*navigation*/
nav {
  background: #131313;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
} 

.nav_container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.nav_logo {
  background-color: #ff8177;
  background-image: linear-gradient(to, top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_menu_item {
  height: 60px;
}

.nav_menu_item a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
}

/*body*/

.larger_p {
  font-size: 2.5rem;
}

.medium_p {
  font-size: 1.5rem;
}

.small_p {
  font-size: 1.0rem;
}

/*index header, about*/


.wrapper {
  display: flex;
  justify-content: end;
}




/*home intro*/
.Beginning {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 30vh;
  padding-bottom: 55vh;
  position: sticky;
}

.Beginning_1 {
  color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 10vw;
  transform-origin: 0 0;
  transform: rotate(-15deg);
  font-family: 'Monsieur La Doulaise', cursive;
  font-style: italic;
}
.Beginning_2 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  font-size: 14vw;
  padding-top: 28vh;
}

/* Home Texts Rotate */
.rotate_wrapper {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  margin: 0 auto;
}

.rotate_wrapper h1 {
  position: relative;
}

.words {
  display: inline-block;
  color: yellow;
  font-weight: bolder;
}

.words span {
  position: absolute;
  top: 0;
  opacity: 0;
  overflow: hidden;
  animation: change-text 10s linear infinite;
}

.words span ::before {
  content: "";
  position: flex;
  bottom: 3px;
  width: 100%;
  height: 7px; 
}

.words span:nth-child(1) {
  animation-delay: 0s;
}

.words span:nth-child(2) {
  animation-delay: 2s;
}

.words span:nth-child(3) {
  animation-delay: 4s;
}

.words span:nth-child(4) {
  animation-delay: 6s;
}
.words span:nth-child(5) {
  animation-delay: 8s;
}

@keyframes change-text {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  2% {
      opacity: 1;
      transform: translateY(0px);
  }
  18% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

/*contact*/

.form-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 15px;
  border: 3px solid black;
  z-index: 999;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container .btn {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  width: 30%;
  margin-bottom:10px;
}

.form-container .cancel {
  width: 30%;
  background-color: red;
}

/*main contents for all pages*/
.content-center {
  text-align: center;
}

.grid-item {
  justify-content: center;
  text-align: left;
  width: 80%;
}

/*index about part */
.introduction {
  font-size: 1.3rem;
}


.bio_hide {
  display: none;
}

.about_img_solo {
  align-self: center;

 width: 35vw;
}

.self_intro {
  text-align: left;
}
.self_intro p {
  text-align: left;
}

#btn {
  right: 5px;
}

/*about page*/
.grid-show {
  display: none;
}


/*hover effects*/
.grid-show {
  justify-content: center;
}

.link_to_other a{
  color: white;
  text-decoration: none;
}

.link_to_other a:hover{
  font-style: italic;
}


/*footer*/
footer {
  overflow: hidden;
  position: flex;
  background-color: black;
  width: 100%;
  bottom: 0;
  height: 15vh;
  left: 0;
}


.footer_intro, .footer_social {
  margin: 0 auto;
  text-align: center;
}

.footer_intro_name {
  font-family: 'Water Brush', 'cursive';
  color: gray;
}
.footer_social_icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 0 10px 0 10px;
}

.footer_social_icon:hover {
  opacity: 0.7;
}




/* 768 large*/
@media screen and (min-width: 768px) {

  /* nav and header index */

  nav {
    background-color: white;
    border-bottom: 1px solid gray;
  }

  .nav_menu_item a {
    color: black;
  }

  body {
    background-color: white;
    color: black;
  }

  .Beginning_1 {
    font-size: 10vh;
  }


  .Beginning_2 {
    font-size: 14vh;
  }

  .rotate_wrapper h1 {
    font-size: 10vh;
  }

  .words {
    color: blue;
  }

  .Beginning_2 {
    color: black;
  }




  /* index.html main format */
  .grid-container-index {
    display: grid;
    width: 100%;
    grid-template-columns: 0.5fr 0.3fr 1.5fr;
    padding-bottom: 10vh;

  }
  .grid-container-about {
    display: grid;
    grid-template-columns: 0.5fr 0fr 1fr;
    padding: 5vh 10px;
    gap: 1.5em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3vw;
    padding: 10px;
  }

  .grid-item-center {
    text-align: center;
  }
  .grid-item {
    padding: 40px 5vh;
    justify-content: center;
  }
  .grid-item img {
    position: sticky;
    top: 8rem;
    width: 30vw;
  }
  .index_img {
    position: sticky;
    top: 8rem;
    width: 20vw;
    pointer-events: none;
  }

  .about_img {
    pointer-events: none;
  }

  .bio_hide {
    display: block;
  }

  .link_to_other a {
    color: black;
  }
  
  .container {
    padding-bottom: 10vh;
  }

  /* about grid format*/



 

  .grid-container {
    padding: 10vw 0;
    align-items: center;
  }

  .grid-image {
    width: 60%;
  }
  
  
  .grid-show {
    display: block;
  }

  .grid-hide {
    display: none;
  }


  /*footer*/
  footer {
    background-color: white;

  }
  
  

}

/* 768 */
@media screen and (min-width: 768px) {

  nav {
    background-color: white;
    border-bottom: 1px solid gray;
  }

  .nav_menu_item a {
    color: black;
  }

  body {
    background-color: white;
    color: black;
  }

  .Beginning_1 {
    font-size: 10vh;
  }


  .Beginning_2 {
    font-size: 14vh;
  }

  .rotate_wrapper h1 {
    font-size: 10vh;
  }

  .words {
    color: blue;
  }

  .Beginning_2 {
    color: black;
  }





  /* index.html main format */
  .grid-container-index {
    display: inline-grid;
    grid-template-columns: 0.5fr 0.5fr 1.5fr;
    padding: 10px;
  }

  .grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
  
  .grid-item {
    padding: 0 0;
    border: none;
  }

  .index_img {
    position: sticky;
    top: 8rem;
    width: 24vw;
  }

  .bio_hide {
    display: block;
  }

  /*Global */
  .container {
    padding-bottom: 10vh;
  }


 

  /*footer*/
  footer {
    background-color: white;

  }

}

/* 992 */
@media screen and (min-width: 992px) {

  .Beginning_1 {
    font-size: 12vh;
  }


  .Beginning_2 {
    font-size: 16vh;
  }

  .rotate_wrapper h1 {
    font-size: 12vh;
  }

  .words {
    color: purple;
  }



  /* index.html main format */
  .grid-container-index {
    display: inline-grid;
    grid-template-columns: 0.5fr 0.5fr 1.5fr;

    padding: 12px;
  }

  .grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    padding: 13px;
  }
  
  .grid-item {
    padding: 22px 0;
  }

  .index_img {
    position: sticky;
    top: 9rem;
    width: 26vw;
  }

  .about_img {
    width: 20vw;
  }


  
  

}



